export(simGWASMainOverlap)
export(ConstructMapSnp2Gene)
export(readxQTLEigen)
export(downsampleN)
importFrom(stats,coef,cor,glm,lm,median,rbinom,rnorm,rpois,sd,setNames,var)
importFrom(data.table,data.table)
importFrom(data.table,fread)
importFrom(data.table,fwrite)
importFrom(data.table,rbindlist)
importFrom(data.table,setnames)
importFrom(dplyr,`%>%`)
importFrom(dplyr,filter)
importFrom(dplyr,mutate)
importFrom(dplyr,select)
importFrom(dplyr,arrange)
