# useDynLib(SBayesOmics)
import(RcppEigen)
import(BH)
importFrom(Rcpp, evalCpp)
importFrom(data.table,data.table)
importFrom(data.table,fread)
importFrom(data.table,fwrite)
importFrom(data.table,rbindlist)
importFrom(data.table,setnames)
importFrom(dplyr, `%>%`)
importFrom(dplyr, filter)
importFrom(dplyr, mutate)
importFrom(dplyr, select)
importFrom(dplyr, arrange)
## export all regularly named functions
## (but allow for private functions whose name starts with a dot).name <- function(...)
exportPattern("^[[:alpha:]]+")
